# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.cache/
*.egg-info/
dist/
build/

# Environments
.env
.venv/
venv/

# OS/Editor
.DS_Store
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/